.hometownData, .hometownData > div {
    height: 200px;
}

.hometownData {
    position: relative;
}

.hometownLabel {
    visibility: hidden;
    height: 2rem;
}

.hometownLabel.visible {
    visibility: visible;
}