img {
    display: inline-block;
    margin: 0 20px 0 20px;
}

.caption {
    display: none;
    width: 100%;
    position: absolute;
    bottom: 5%;
    left: 0;
    background: rgba(0,0,0,.7);
    color: white;
}

.caption span {
    border-bottom: 1px solid black
}

.image {
    display: inline-block;
    position: relative;
    height: 200px;
}

.image:hover > .caption {
    display: block;
    overflow-y: hidden;
}
