html {
    height: 100%;
}

body {
    background-color: #282c34;
    background-image: url('./assets/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    height: 100%;
}
